body{
    padding: 50px;
    background: url(pic/pexels6.webp);
    backdrop-filter: blur(2px);
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(7px);
    background-color: rgb(0, 211, 106);
}
.form-group{
    margin-bottom: 30px;
}

#submit:disabled{
    background-color: red;
    
}