* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: url(pic/pexels4.jpeg) center / cover no-repeat;  
}

/* Add a CSS class for the table container */
.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Rest of your existing CSS styles */
/* ... */

main.table {
    
    width: 95%;
    height: 100%; /* Adjust the height as per your preference */
    margin: 20px;
    padding: 0PX;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
}

.table_header {
    background-color: #428bca; /* Header background color */
    color: white; /* Text color */
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.table_body {
    max-width: 100%;
    overflow: scroll;
    max-height: 100vh; /* Set a maximum height for the table body to enable scrolling */
    border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
}

/* Add some styling for table headers and data cells */

table {
    width: 100%;
    border-collapse: collapse;
}
/* 
table th, table td {
    padding: 10px;
    text-align: center;
    color: white;
}


table tr:hover th {

    background-color: initial;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(19, 239, 255);
    color: black; 
}

tbody tr:nth-child(odd) {
    background-color: rgb(105, 24, 24);
    color: rgb(229, 21, 21); 
}


 table tr:hover {
    color: white;
    background-color: #272498; Hover background color ;
    transition: background-color 0.10s;
} 
 */
